
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 1600px;
    margin: 0 auto;
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8dd285",endColorstr="#c5e904",GradientType=1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .header_icon_wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 100%;
        .header_icon{
            width: 60px;
            height: 60px;
        }
    }
}